* {
  box-sizing: border-box;
}
.App {
  height: 1356px;
  width: 1920px;
}
.vector {
  display: flex;
}
.header {
  height: 10%;
  width: 100%;
  display: flex;

  border-bottom: 2px solid rgb(190, 186, 186);
}
.header > img {
  width: 70px;
  height: 80px;
  margin-left: 3%;
  margin-top: 1%;
  margin-right: 3%;
}
.header > h2 {
  margin-top: 2%;
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
}
button {
  background-color: white;
  border: none;
}

.global-vector {
  margin-top: 10%;
  margin-left: 23%;
}
.result {
  height: 110px;
  width: 110px;
  text-align: center;
  border-radius: 15px;
  font-size: 80px;
  font-weight: none;
  line-height: 59px;
  background-color: #5c48d3;
  padding-top: 2%;
  color: white;
}
.fa-minus,
.fa-plus {
  font-size: 40px;
  margin-top: 100%;
}
.reset {
  margin-top: 3%;
  /* text-align: center; */
  /* margin: 100px; */
}
.resets > button {
  background-color: #5c48d3;
  margin: 20px;
  font-size: 30px;
  margin-left: 53px;
  width: 100px;
  height: 60px;
  background-color: #5c48d3;
  border-radius: 15px;
  color: white;
}
.text-end {
  font-size: 10px;
  margin-left: 24%;
  margin-top: 5%;
}
